body {
    background-image:url(images/IMG_1713.PNG);
    background-size: cover;
    background-position: center;
    color: red;
}
h1 {
    text-align: center;
    font-size: 100px;
}
p {
    text-align: center;
    font-size: 25px;
}
a {
    font-size: 25px;
    text-decoration: none;
    color: red;
}
a:hover {
    background-color: red;
    border: 1px black solid;
    color: black;
}
ul {
    font-size: 25px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
    border: 1px red solid;
    background-color: black;
    text-align: center;
    background: black;
    border-radius: 6px
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.nav:hover {
    border: 1px black solid;
    color: black;
    background: black;
    border-radius: 50%;
}
.slideshow div {
    width:1100px;
    height:500px;
    text-align: center;
}
.abc {
    text-align: center;
    list-style: none;
}
